body {
  background-color: black;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 100vh;
  width: auto;
}

/* Board wrappers */
.human-wrapper {
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  height: auto;
  width: auto;
  justify-self: center;
  align-self: center;
  /* Glow shadow */
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
}

.computer-wrapper {
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  height: auto;
  width: auto;
  justify-self: center;
  align-self: center;
  /* Glow shadow */
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
}

/* Cells */
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid rgb(0, 255, 0);
  height: 30px;
  width: 30px;
}

.cell:hover {
  cursor: pointer;
  opacity: 0.7;
}

.ship-cell {
  background-color: rgb(0, 255, 0);
}

.hit-cell {
  background-color: rgb(255, 0, 0);
}

.missed-cell {
  background-color: black;
}

.missed-mark {
  font-size: 2rem;
  color: white;
}
