body {
  background-color: black;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 100vh;
  width: auto;
}

.cell {
  background-color: black;
  border: 2px solid rgb(0, 255, 0);
  height: 30px;
  width: 30px;
}

.ship-cell {
  background-color: rgb(0, 255, 0);
  border-color: black;
}

.hit-cell {
  background-color: rgb(255, 0, 0);
}

.missed-cell {
  background-color: rgb(0, 0, 255);
}

.human-wrapper {
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  height: auto;
  width: auto;
  justify-self: center;
  align-self: center;
  /* Glow shadow */
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
}

.computer-wrapper {
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  height: auto;
  width: auto;
  justify-self: center;
  align-self: center;
  /* Glow shadow */
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
}
