body {
  background-color: black;
  color: white;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  text-align: center;
  height: 100vh;
}

/* Title */
h1 {
  font-size: 3rem;
  margin: 0;
  padding-top: 50px;
}

/* Play screen container */
#play-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 80vh;
  width: auto;
}

/* Main game container */
#container {
  display: none;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: auto;
}

/* Win/lose container */
#win-lose-modal {
  display: none;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: auto;
  z-index: 0;
}

/* Win/lose modal box */
.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(24, 24, 24);
  border-radius: 20px;
  border: 5px solid white;
  padding: 30px;
  color: white;
  height: auto;
  width: auto;
  z-index: 1;
}

.modal h3 {
  margin: 0;
  font-size: 3rem;
}

.modal p {
  margin: 0;
  font-size: 2rem;
}

.button-container {
  display: flex;
  margin: 0 auto;
  gap: 45px;
}

button {
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: 1.1rem;
  font-weight: bold;
}

button:hover {
  opacity: 0.7;
}

/* Board wrappers */
.human-wrapper {
  margin: 0 auto;
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  height: auto;
  width: auto;
  align-self: center;
  /* Glow shadow */
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
}

.computer-wrapper {
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  height: auto;
  width: auto;
  justify-self: center;
  align-self: center;
  /* Glow shadow */
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
  box-shadow: 0px 0px 18px 2px rgba(0, 255, 0, 0.69);
}

/* Cells */
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid rgb(0, 255, 0);
  height: 30px;
  width: 30px;
}

.cell:hover {
  cursor: crosshair;
}

.ship-cell {
  background-color: rgb(91, 91, 91);
}

.hit-cell {
  background-color: red;
}

.missed-cell {
  background-color: black;
}

.missed-mark {
  font-size: 2rem;
  font-weight: 500;
}
