body {
  background-color: black;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 100vh;
  width: auto;
}

.cell {
  background-color: black;
  border: 2px solid rgb(0, 255, 0);
  height: 30px;
  width: 30px;
}

.human-wrapper {
  border: 2px solid white;
  display: flex;
  /* flex-wrap: wrap; */
  height: auto;
  width: auto;
}
